@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.header-nav {
  background: #84b8af; }
  .js .header-nav {
    height: 50px; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    max-width: 350px;
    height: 50px;
    position: relative;
    top: 10px;
    z-index: 10; }
    .header-nav__logo img {
      max-width: 100%;
      height: 100%; }
  .header-nav__hamburgger {
    display: none; }
    .js .header-nav__hamburgger {
      display: inline-block;
      float: right;
      height: 100%;
      border: none;
      background: transparent;
      color: white;
      font-size: 2em;
      padding: 0 .5em; }
      .js .header-nav__hamburgger:hover, .js .header-nav__hamburgger:focus {
        background: #74aea5; }
  .header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-nav__menu a {
      color: white;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #549187;
      padding: 1em; }
      .header-nav__menu a:hover {
        background: #58988d; }
    .js .header-nav__menu {
      display: none; }
    .menu-openned .header-nav__menu {
      display: block; }

.header-animado {
  background-color: #64a59a; }
  .header-animado .header-animado__title {
    color: #00151a;
    font-size: 38px;
    font-weight: bold; }
  .header-animado .header-animado__subtitle {
    color: white; }

.header-nav {
  background: #84b8af; }
  .js .header-nav {
    height: 50px; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    max-width: 350px;
    height: 50px;
    position: relative;
    top: 10px;
    z-index: 10; }
    .header-nav__logo img {
      max-width: 100%;
      height: 100%; }
  .header-nav__hamburgger {
    display: none; }
    .js .header-nav__hamburgger {
      display: inline-block;
      float: right;
      height: 100%;
      border: none;
      background: transparent;
      color: white;
      font-size: 2em;
      padding: 0 .5em; }
      .js .header-nav__hamburgger:hover, .js .header-nav__hamburgger:focus {
        background: #74aea5; }
  .header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-nav__menu a {
      color: white;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #549187;
      padding: 1em; }
      .header-nav__menu a:hover {
        background: #58988d; }
    .js .header-nav__menu {
      display: none; }
    .menu-openned .header-nav__menu {
      display: block; }

.header-animado {
  background-color: #64a59a; }
  .header-animado .header-animado__title {
    color: #00151a;
    font-size: 38px;
    font-weight: bold; }
  .header-animado .header-animado__subtitle {
    color: white; }
