.card-portfolio {
    @mixin sombra($direcao, $angulo, $distancia) {
        content: ' ';
        z-index: -1;
        position: absolute;
        background: tomato;
        width: 50%;
        bottom: 11px;
        height: 20px;
        box-shadow: 0 15px 10px #777;
        
        @if $direcao == 'esq' {
            transform: rotate($angulo * -1);
            left: $distancia;
        }@else {
            transform: rotate($angulo);
            right: $distancia;
        }
    }

    &:before {
        @include sombra('esq', 2.5deg, 5px);
    }
    &:after {
        @include sombra('dir', 2.5deg, 5px);
    } 

    padding: 0; 
    border-radius: 0;
    border: 1px solid transparent;
    position: relative;
    &__imagem {
        height: 320px;
        overflow: hidden;
        img {
            max-width: 100%;
            opacity: .5;
            transition: opacity .3s linear,transform 1s ease-in;
        }
    }
    &:hover {
        img {
            opacity: 1;
            transform: scale(1.15) rotate(-5deg);
        }
        .card-portfolio__btn {
            background: lighten($main-color, 30);
            color: #fff;
            &:hover {
                background: lighten($main-color, 30);
            }
        }
    }
    &__btn {
        background: transparent;
        color: $main-color;
        display: block;
        border: none;
        border-radius: 0;
        width: 100px;
        transition: all .3s linear;
        margin-left: auto;
        position: relative;
        top: 1px; 
    }
}