.header-animado{
   background-color: $main-color;

   .header-animado__title{
       color: #00151a;
       font-size: 38px; 
       font-weight: bold;
   }
   .header-animado__subtitle{
    color: white;
   }
}

